/* Seccion global*/
* {
    margin:0;
    padding: 0;
    color: rgb(255, 255, 255);
}

h2 {
    color: orangered;
}

h3 {    
    color: rgb(240, 106, 17);
    text-align: center;
    font-size: 18px;
}

h4 {
    padding-top: 10px;
    text-align: right;
    color: rgb(170, 21, 45);
    font-size: 20px;
}
body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(226, 78, 10);
}

section {
    background-color: rgb(10, 10, 10);   
}

/*Div Encabezado: contiene 3 Secciones */
.encabezado {
    display: flex;
    background-color: aqua;
    margin: 5px;

}
/*Seccion 1*/
.foto img {
    padding: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/*Seccion 2*/
.nombre {
    padding-top: 60px;
    padding-left: 10px;
    text-align: justify;
}
/*Seccion 3*/
.datos {
    padding: 20px;
    text-align: right;
}

/* Div informacion: contiene 3 Secciones */
.informacion{
    height: 390px;
    width: 550px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(48, 32, 138);
    justify-items: start;
}

.informacion section {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 4px;
    border-radius: 10px;
    width: 240px;
}

/* Primer Seccion*/
.sobre_mi {
    text-align: center;
}

.sobre_mi p{
    margin: 16px;
    text-align: justify;
    font-size: 12px;
}

/* Segunda seccion */
.habilidades {
    margin: 16px;
    text-align: center;
}
.habilidades img {
    margin: 3px;
    width: 40px;
    height: 40px;
}

/*Tercera seccion experience */
.experiencia {
    margin: 16px;
    text-align: center;
}

.experiencia p{
    text-align: justify;
    font-size: 12px;
}
/* Footer */
footer {
    background-color: black;
    display: flex;
}

footer section{
    padding: 15px;
    margin: 5px;
    width: 550px;
    height: 120px;
 
    justify-items: start;
}

.referfe h4{
    font-size: 14px;
    text-align: center;
}

.referfe {
    background-color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 4px;
}

.ref2 {
    margin-left: 20px;
} 

.table_inte{
 
    display: flex;
    margin: 10px;
    text-align: center;
}

.table_inte p {
font-family: sans-serif;
}

.table_inte img{
    margin: 10px;
    width: 40px;
    height: 40px;
    
}
